<div class="jumbotron">
  <h2>Does anyone important follow you?</h2>
  <p class="lead">We keep track of your social media accounts to let you know when someone
  of significance interacts with you.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Sign Up to get an annoying email everyday if I have ever tweeted to you. I am the important person ATM. </h4>
    <ul>
      <li>
        <a href="/users">Click here!</a>
      </li>
    </ul>
  </div>
</div>
